name: Build Yoga

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Build
        run: build_mac.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: yoga-artifacts
          path: build/yoga.dll
