name: Build Yoga

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive

      - name: Install MinGW
        run: sudo apt-get update && sudo apt-get install -y mingw-w64

      - name: Build
        run: bash build_unix.sh

      - name: Upload artifacts
        uses: actions/upload-artifact@v4
        with:
          name: yoga-${{ github.sha }}.dll
          path: 'build/'
